relentless-backend/HELP.md
relentless-backend/target/
relentless-backend/.mvn/wrapper/maven-wrapper.jar
relentless-backend/.mvn/maven.config
!relentless-backend/**/src/main/**/target/
!relentless-backend/**/src/test/**/target/

### STS ###
relentless-backend/.apt_generated
relentless-backend/.classpath
relentless-backend/.factorypath
relentless-backend/.project
relentless-backend/.settings
relentless-backend/.springBeans
relentless-backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
